<div class="container p-3">
  <div class="row p-3">
    <div class="mx-auto">
      <h1 class="text-center">おめでとうございます！</h1>
      <p class="text-center">レベルアップしました！！</p>
      <%= image_tag('001f8780f1bf96e92bfc1d4b9c5517c3.jpeg') %>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= link_to "マイページでレベルを確認！",user_path(current_user),class:"btn btn-outline-secondary" %>
    </div>
  </div>
</div>