<%= form_with model: post, url: goods_path, method: :post do |f| %>

  <%= f.hidden_field :post_id, :value => post.id %>
  <div class="good-btn">
    <%= f.button :type => "submit", style: 'border-style: none; background-color: transparent; color:blue;' do %>
    <i class="far fa-heart"></i>
  <% end %>
    <%= @post.goods.count %>
  </div>
<% end %>

